services:
    _defaults:
        autoconfigure: true

    _instanceof:
        Symfony\Bundle\FrameworkBundle\Controller\AbstractController:
            calls:
                - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]

    Terminal42\PageimageBundle\PageimageHelper: ~

    Terminal42\PageimageBundle\Controller\PageimageController:
        arguments: ['@Terminal42\PageimageBundle\PageimageHelper']

    Terminal42\PageimageBundle\EventListener\InsertTagsListener:
        arguments: ['@Terminal42\PageimageBundle\PageimageHelper']

    Terminal42\PageimageBundle\Migration\ModuleMigration:
        arguments: ['@database_connection']

    Terminal42\PageimageBundle\Migration\PageMigration:
        arguments: [ '@database_connection' ]
