services:
    _defaults:
        autoconfigure: true
        autowire: true

    Terminal42\PageimageBundle\:
        resource: ../src/

    _instanceof:
        Symfony\Bundle\FrameworkBundle\Controller\AbstractController:
            calls:
                - [ setContainer, [ '@Psr\Container\ContainerInterface' ] ]
